body{
    background-color: rgb(59, 11, 104);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: rgba(99, 14, 179, 0.637);
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
form input{
    background-color: rgba(90, 38, 138, 0.692);
    border: none;
    outline: none;
    color: aliceblue;
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
}
#submit{
    background-color: rgba(100, 40, 159, 0.692);
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    flex-basis: 30px;
    flex-grow: 1;
}
h3{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    margin: 2px;
}
table{
    border:solid 2px aliceblue;
    display: flex;
}
tr{
    background-color:rgba(173, 114, 228, 0.959);
    color:  rgb(59, 11, 104);
    border: solid 1px;
    justify-content: center;
    text-align: center;
    font-size:x-large;
}

